# Modulos

In [16]:
import pandas as pd  # Para trabajar con dataframes
import openpyxl  # Para manipular archivos Excel
from pathlib import Path  # Para manejar rutas del sistema
from datetime import datetime  # Para trabajar con fechas
import matplotlib.pyplot as plt  # Para crear gráficos
from openpyxl.utils.dataframe import dataframe_to_rows  # Para convertir dataframes a filas de Excel
from openpyxl.chart import BarChart, Reference  # Para crear gráficos en Excel
from pathlib import Path
from openpyxl import Workbook

# Rutas

In [22]:
R_MS_ADRES_EPS025 = r"\\servernas\AYC2\ASEGURAMIENTO\ASEGURAMIENTO\PROCESO_ASEGURAMIENTO\REGIMEN SUBSIDIADO\MUNICIPIOS 2025\CONSOLIDADOS\04_Abril\20250424-CONSOLIDADOS\EPS025MS0024042025.TXT"
MS_SIE = r"C:\Users\osmarrincon\OneDrive - uniminuto.edu\Capresoca\AlmostClear\SIE\Aseguramiento\ms_sie\Reporte_Validación Archivos Maestro_2025_04_29.csv"
R_NS_SIE = r"C:\Users\osmarrincon\OneDrive - 891856000_CAPRESOCA E P S\Escritorio\Yesid Rincón Z\Traslados\Procesos BDUA\2025\03_Marzo\21\SIE_NSEPS02521032025.txt"
R_NS_Glosa = r"C:\Users\osmarrincon\OneDrive - 891856000_CAPRESOCA E P S\Escritorio\Yesid Rincón Z\Traslados\Procesos BDUA\2025\03_Marzo\21\yesid 21-03-2025.xlsx"
R_IPS = r"\\Servernas\AYC2\ASEGURAMIENTO\ASEGURAMIENTO\PROCESO_ASEGURAMIENTO\REGIMEN SUBSIDIADO\MUNICIPIOS 2025\REPORTE RESOLUCION_0762_2023\IPS_CODIGO.txt"

R_Salida = r"C:\Users\osmarrincon\OneDrive - 891856000_CAPRESOCA E P S\Escritorio\Yesid Rincón Z\Traslados\Procesos BDUA\2025\04_Abril\29\Salida.TXT"
R_Salida_Excel = r"C:\Users\osmarrincon\OneDrive - 891856000_CAPRESOCA E P S\Escritorio\Yesid Rincón Z\Traslados\Procesos BDUA\2025\04_Abril\29\Salida.xlsx"

# Dataframes

In [13]:
df_ms_SIE = pd.read_csv(MS_SIE, sep=';', encoding='ansi', dtype=str)

In [23]:
df_ms_EPS025 = pd.read_csv(R_MS_ADRES_EPS025, sep=',', encoding='ansi', header=None, dtype=str)

In [23]:
import pandas as pd
import datetime

def conv_col16(x):
    # Si el valor es nulo, retorna cadena vacía
    if pd.isna(x):
        return ""
    # Si es un objeto datetime (o Timestamp), formatea a dd/mm/yyyy
    if isinstance(x, (pd.Timestamp, datetime.datetime)):
        return x.strftime("%d/%m/%Y")
    # En caso contrario, lo convierte a string sin modificar
    return str(x)

# Cargar la hoja "NS_Enviar" del archivo Excel, forzando que Columna16 se lea con el converter
Df_NS_VAL = pd.read_excel(
    R_NS_Glosa,
    sheet_name="NS_Enviar",
    dtype=str,  # Trata todas las columnas como str por defecto
    header=0,   # Primera fila como encabezado
    converters={"Columna16": conv_col16}  # Forzar Columna16 con la función definida
)

# Asegurar que "Columna10" sea de 2 dígitos
Df_NS_VAL["Columna10"] = Df_NS_VAL["Columna10"].str.zfill(2)

# Convertir la columna "Columna9" a tipo fecha en formato dd/mm/yyyy
Df_NS_VAL["Columna9"] = pd.to_datetime(
    Df_NS_VAL["Columna9"], 
    format='%Y-%m-%d %H:%M:%S', 
    errors='coerce'
).dt.strftime('%d/%m/%Y')

Df_NS_VAL["Columna13"] = pd.to_datetime(
    Df_NS_VAL["Columna13"], 
    format='%Y-%m-%d %H:%M:%S', 
    errors='coerce'
).dt.strftime('%d/%m/%Y')

# Asegurar que "Columna11" sea de 3 dígitos
Df_NS_VAL["Columna11"] = Df_NS_VAL["Columna11"].str.zfill(3)

# Agregar una nueva columna "origen" con el valor "Glosa" para todos los registros
Df_NS_VAL["origen"] = "Glosa"

C:\Users\osmarrincon\AppData\Local\Temp\ipykernel_30688\2100155474.py:15: ParserWarning: Both a converter and dtype were specified for column Columna16 - only the converter will be used.
  Df_NS_VAL = pd.read_excel(

In [24]:
# Cargar la hoja "NS_Noenviar" del archivo Excel
Df_NS_NEG = pd.read_excel(
    R_NS_Glosa,
    sheet_name="NS_Noenviar",
    dtype=str,  # Todas las columnas como tipo str
    header=0  # Primera fila como encabezado
)

# Asegurar que "Columna10" sea de 2 dígitos
Df_NS_NEG["Columna10"] = Df_NS_NEG["Columna10"].str.zfill(2)
# Convertir la columna "Columna9" a tipo fecha en formato dd/mm/yyyy
Df_NS_NEG["Columna9"] = pd.to_datetime(Df_NS_NEG["Columna9"], format='%Y-%m-%d %H:%M:%S', errors='coerce').dt.strftime('%d/%m/%Y')
Df_NS_NEG["Columna13"] = pd.to_datetime(Df_NS_NEG["Columna13"], format='%Y-%m-%d %H:%M:%S', errors='coerce').dt.strftime('%d/%m/%Y')
# Asegurar que "Columna11" sea de 3 dígitos
Df_NS_NEG["Columna11"] = Df_NS_NEG["Columna11"].str.zfill(3)
Df_NS_NEG["origen"] = "No_Enviar_glosa"

In [25]:
# Cargar el archivo .TXT en un DataFrame
Df_NS_SIE = pd.read_csv(
    R_NS_SIE,
    encoding='ansi',
    header=None,
    delimiter=',',
    dtype=str,  # Todas las columnas como tipo str
    keep_default_na=False  # Evitar conversiones automáticas a NaN
)

# Convertir la columna 8 a tipo fecha en formato dd/mm/yyyy
Df_NS_SIE[8] = pd.to_datetime(Df_NS_SIE[8], format='%d/%m/%Y', errors='coerce').dt.strftime('%d/%m/%Y')
Df_NS_SIE[12] = pd.to_datetime(Df_NS_SIE[12], format='%d/%m/%Y', errors='coerce').dt.strftime('%d/%m/%Y')
# Agregar una nueva columna llamada "origen" con el valor "Glosa" para todos los registros
Df_NS_SIE["origen"] = "SIE"

In [26]:
# Filtrar los registros donde la columna en la posición 11 sea igual a "N01"
registros_n01 = Df_NS_VAL[Df_NS_VAL.iloc[:, 11] == "N01"]

# Imprimir los registros filtrados
print(registros_n01)

    Columna1 Columna2 Columna3         Columna4   Columna5       Columna6  \
0          1   EPS025       CN   24119311215391       COBA           CRUZ
1          2   EPS025       CN   24111411214588      PEREZ        SANCHEZ
2          3   EPS025       CN   24118511216313     BLANCO         VARGAS
3          4   EPS025       TI       1119666210      SEGUA        GUANARO
4          5   EPS025       PE  838688025081979     GARCIA        GIMENEZ
5          6   EPS025       TI       1119510485      PEREZ         PRIETO
6          7   EPS025       CC       1118146693      JAIME          SALON
7          8   EPS025       CN   25037610069451   ESPINOSA     MENDIVELSO
8          9   EPS025       RC       1115865687     PUERTA      CRISTIANO
9         10   EPS025       RC       1115921009     CASTRO           DIAZ
10        13   EPS025       TI       1116040693    TARACHE        ANZUETA
11        24   EPS025       RC       1115692308    HURTADO         MILLAN
12        26   EPS025       CN   24117411203018       SOSA        MARQUEZ
13        27   EPS025       CN   24103031170413      SIGUA          GOMEZ
138        1   EPS025       AS       85230I0080     HOROPA    GUACARAPARE
139        2   EPS025       AS       85250I0043   CAMBIARI            NaN
140        3   EPS025       CC         41615427       VERA  DE VALENZUELA
141        4   EPS025       CC         47439906     VARGAS        MARQUEZ
142        5   EPS025       CC          4300709  RODRIGUEZ         CHAVES
143        6   EPS025       CC         23936722   MARTINEZ           CRUZ
144        7   EPS025       CC         23724405      TOVAR        CUELLAR
145        8   EPS025       CC         23751608     VARELA     DE ALFONSO
146        9   EPS025       PT          3745661     BRACHO          MUÑOZ
147       10   EPS025       PT          7952473      SILVA      SOLORZANO
148       11   EPS025       CC         23789114      MARIN            NaN
149       12   EPS025       CC         47428705      BELLO          GALAN
150       13   EPS025       CC         23789759    BENITEZ          ABRIL
151       14   EPS025       CC         23943128   CARRILLO     DE BARINAS
152       15   EPS025       CC         23709683      SIGUA       CHAPARRO
153       16   EPS025       CC         74849386       SUEZ         FLOREZ
154       17   EPS025       CC         47440795   LIBERATO       CHAPARRO
155       18   EPS025       PT          6659953   QUINTANA         VARELA
156       19   EPS025       PT          7777713   GONZALEZ         SOLANO
157       20   EPS025       CC          7360172      OJEDA            NaN
158       21   EPS025       CC          9528921     VARGAS       CARDENAS
159       22   EPS025       PT          5622937  RODRIGUEZ         GARCIA
173       12   EPS025       CN   24117411203018       SOSA        MARQUEZ
176       15   EPS025       CN   24103031170413      SIGUA          GOMEZ
179       18   EPS025       CN   25039810069067     GAMBOA           VEGA
182       21   EPS025      RC        1115921009     CASTRO           DIAZ

       Columna7    Columna8    Columna9 Columna10  ... Columna12   Columna13  \
0       HIJO DE         NaN  23/11/2024        85  ...       N01  14/03/2025
1       HIJO DE         NaN  22/11/2024        85  ...       N01  14/03/2025
2       HIJO DE         NaN  23/11/2024        85  ...       N01  14/03/2025
3    LEOVIGILDO         NaN  01/02/2005        85  ...       N01  07/03/2025
4        YESIKA       LUISA  25/08/1979        85  ...       N01  03/03/2025
5         LAURA       SOFIA  03/01/2006        85  ...       N01  06/03/2025
6          JOSE     JOAQUIN  08/04/1959        85  ...       N01  20/02/2025
7       HIJO DE         NaN  01/03/2025        85  ...       N01  27/03/2025
8         ZAIRA    EVANYELI  19/07/2016        85  ...       N01  27/02/2025
9        EITHAN      JAVIER  27/01/2025        85  ...       N01  20/02/2025
10       ANDREA   KATHERINE  06/01/2007        85  ...       N01  04/02/2025
11        AMARI     LUCIANA  12/01/2018        85  ...       N01  13/03/2025
12      HIJO DE         NaN  20/12/2024        85  ...       N01  01/01/2025
13      HIJO DE         NaN  20/11/2024        85  ...       N01  01/01/2025
138      CARMEN       LUCIA  22/04/1974        85  ...       N01  20/03/2025
139   CARMELITA         NaN  18/07/1928        85  ...       N01  20/03/2025
140       MARIA     OTALVIS  14/02/1951        85  ...       N01  20/03/2025
141      VIANEY   CONSTANZA  07/10/1981        85  ...       N01  20/03/2025
142     GONZALO         NaN  28/06/1948        85  ...       N01  20/03/2025
143       MARIA   ENRIQUETA  01/11/1946        85  ...       N01  20/03/2025
144        DORA         NaN  12/04/1945        85  ...       N01  20/03/2025
145       MARIA       ELVIA  18/08/1948        85  ...       N01  20/03/2025
146    FRANGELY         NaN  27/07/1996        85  ...       N01  20/03/2025
147  WILLIANNYS    GERAMIAS  15/01/2015        85  ...       N01  20/03/2025
148      ALCIRA         NaN  29/09/1956        85  ...       N01  20/03/2025
149      TERESA         NaN  28/02/1968        85  ...       N01  20/03/2025
150      BLANCA      RUBITH  31/01/1962        85  ...       N01  20/03/2025
151       MARIA  DEL CARMEN  17/12/1953        85  ...       N01  20/03/2025
152        NERY         NaN  10/09/1964        85  ...       N01  20/03/2025
153      VICTOR      FERNEL  18/05/1981        85  ...       N01  20/03/2025
154       NIDIA      MARLEY  20/01/1983        85  ...       N01  20/03/2025
155    JESUANNI       SUSEJ  04/07/2007        85  ...       N01  20/03/2025
156      DAILIN  DEL CARMEN  14/11/2016        85  ...       N01  20/03/2025
157        LUIS       EMIRO  20/06/1954        85  ...       N01  20/03/2025
158      ISRAEL         NaN  25/12/1954        85  ...       N01  20/03/2025
159        JOSE      RAFAEL  16/05/1947        85  ...       N01  20/03/2025
173     HIJO DE         NaN  20/12/2024        85  ...       N01  03/12/2024
176     HIJO DE         NaN  20/11/2024        85  ...       N01  01/12/2024
179     HIJO DE         NaN  01/03/2025        85  ...       N01  04/03/2025
182      EITHAN      JAVIER  27/01/2025        85  ...       N01  04/02/2025

    Columna14   Columna15   Columna16 Columna17 Columna18 Columna19 Columna20  \
0          RC  1115871297  23/11/2024         0       NaN       NaN       NaN
1          RC  1222146798  22/11/2024         0       NaN       NaN       NaN
2          RC  1115920980  23/11/2024         0       NaN       NaN       NaN
3          CC  1119666210  01/02/2005         0       NaN       NaN       NaN
4          PT     4546997  25/08/1979         0       NaN       NaN       NaN
5          CC  1119510485  03/01/2006         0       NaN       NaN       NaN
6          CC  1118146867  08/04/1959         1       NaN       NaN       NaN
7          RC  1118100673  01/03/2025         0       NaN       NaN       NaN
8          TI  1115865687  01/07/2016         0       NaN       NaN       NaN
9          RC  1115921012  27/01/2025         1       NaN       NaN       NaN
10         CC   116040693  06/01/2007         0       NaN       NaN       NaN
11         TI  1115692308  12/01/2018         0       NaN       NaN       NaN
12         RC  1057615298  20/12/2024         0       NaN       NaN       NaN
13         RC  1115871291  20/11/2024         0       NaN       NaN       NaN
138        AS  85230I0080  23/04/1974         1       NaN       NaN         1
139        AS  85250I0043  19/07/1928         1       NaN       NaN       NaN
140        CC    41615427  15/02/1951         1       NaN       NaN       NaN
141        CC    47439906  08/10/1981         1       NaN       NaN       NaN
142        CC     4300709  29/06/1948         1       NaN       NaN       NaN
143        CC    23936722  02/11/1946         1       NaN       NaN       NaN
144        CC    23724405  13/04/1945         1       NaN       NaN       NaN
145        CC    23751608  19/08/1948         1       NaN       NaN       NaN
146        PT     3745661  28/07/1996         1       NaN       NaN       NaN
147        PT     7952473  16/01/2015         1       NaN       NaN       NaN
148        CC    23789114  30/09/1956         1       NaN       NaN       NaN
149        CC    47428705  29/02/1968         1       NaN       NaN       NaN
150        CC    23789759  01/02/1962         1       NaN       NaN       NaN
151        CC    23943128  18/12/1953         1       NaN       NaN       NaN
152        CC    23709683  11/09/1964         1       NaN       NaN       NaN
153        CC    74849386  19/05/1981         1       NaN       NaN       NaN
154        CC    47440795  21/01/1983         1       NaN       NaN       NaN
155        PT     6659953  05/07/2007         1       NaN       NaN       NaN
156        PT     7777713  15/11/2016         1       NaN       NaN       NaN
157        CC     7360172  21/06/1954         1       NaN       NaN       NaN
158        CC     9528921  26/12/1954         1       NaN       NaN       NaN
159        PT     5622937  17/05/1947         1       NaN       NaN       NaN
173        RC  1057615298  20/12/2024         0       NaN       NaN       NaN
176        RC  1115871291  20/11/2024         0       NaN       NaN       NaN
179        RC  1222147061  01/03/2025         0       NaN       NaN       NaN
182        RC  1115921012  27/01/2025         1       NaN       NaN       NaN

    origen
0    Glosa
1    Glosa
2    Glosa
3    Glosa
4    Glosa
5    Glosa
6    Glosa
7    Glosa
8    Glosa
9    Glosa
10   Glosa
11   Glosa
12   Glosa
13   Glosa
138  Glosa
139  Glosa
140  Glosa
141  Glosa
142  Glosa
143  Glosa
144  Glosa
145  Glosa
146  Glosa
147  Glosa
148  Glosa
149  Glosa
150  Glosa
151  Glosa
152  Glosa
153  Glosa
154  Glosa
155  Glosa
156  Glosa
157  Glosa
158  Glosa
159  Glosa
173  Glosa
176  Glosa
179  Glosa
182  Glosa

[40 rows x 21 columns]

In [27]:
# 1. Verificar que ambos DF tengan la misma cantidad de columnas
if Df_NS_SIE.shape[1] != Df_NS_VAL.shape[1]:
    raise ValueError("Los DataFrames tienen distinto número de columnas. No se pueden concatenar directamente.")

# 2. Convertir todo a texto en ambos DF
# Se rellena NaN con cadena vacía para evitar que se propaguen como nulos
for col in Df_NS_VAL.columns:
    Df_NS_VAL[col] = Df_NS_VAL[col].fillna('').astype(str)

for col_index in range(Df_NS_SIE.shape[1]):
    Df_NS_SIE.iloc[:, col_index] = Df_NS_SIE.iloc[:, col_index].fillna('').astype(str)

# 3. Renombrar las columnas de Df_NS_SIE para que sean idénticas a las de Df_NS_VAL
Df_NS_SIE.columns = Df_NS_VAL.columns

# 4. Concatenar
Df_NS_VAL = pd.concat([Df_NS_VAL, Df_NS_SIE], ignore_index=True)

print("Concatenación completada con éxito.")
print("Número total de registros en Df_NS_VAL:", len(Df_NS_VAL))

Concatenación completada con éxito.
Número total de registros en Df_NS_VAL: 702

In [28]:
# Filtrar los registros donde la columna en la posición 11 sea igual a "N01"
registros_n01 = Df_NS_VAL[Df_NS_VAL.iloc[:, 11] == "N01"]

# Imprimir los registros filtrados
print(registros_n01)

    Columna1 Columna2 Columna3         Columna4  Columna5  Columna6  \
0          1   EPS025       CN   24119311215391      COBA      CRUZ
1          2   EPS025       CN   24111411214588     PEREZ   SANCHEZ
2          3   EPS025       CN   24118511216313    BLANCO    VARGAS
3          4   EPS025       TI       1119666210     SEGUA   GUANARO
4          5   EPS025       PE  838688025081979    GARCIA   GIMENEZ
..       ...      ...      ...              ...       ...       ...
592      408   EPS025       RC       1115867456    POVEDA    DEDIOS
599      415   EPS025       RC       1118125389     GAMEZ    MATEUS
611      427   EPS025       TI       1118539734   VALLEJO   RIVEROS
626      442   EPS025       CN   25022010054010  GONZALEZ  PE ALOZA
639      455   EPS025       CN   25037010072762    ROMERO    PINEDA

       Columna7 Columna8    Columna9 Columna10  ... Columna12   Columna13  \
0       HIJO DE           23/11/2024        85  ...       N01  14/03/2025
1       HIJO DE           22/11/2024        85  ...       N01  14/03/2025
2       HIJO DE           23/11/2024        85  ...       N01  14/03/2025
3    LEOVIGILDO           01/02/2005        85  ...       N01  07/03/2025
4        YESIKA    LUISA  25/08/1979        85  ...       N01  03/03/2025
..          ...      ...         ...       ...  ...       ...         ...
592       ANGIE    LUCIA  06/03/2018        85  ...       N01  20/03/2025
599      VALERY  MICHELL  07/08/2016        85  ...       N01  20/03/2025
611       JOHAN  SNEYDER  15/12/2006        85  ...       N01  20/03/2025
626     HIJO DE           16/02/2025        85  ...       N01  20/03/2025
639     HIJO DE           04/03/2025        85  ...       N01  10/03/2025

    Columna14   Columna15   Columna16 Columna17 Columna18 Columna19 Columna20  \
0          RC  1115871297  23/11/2024         0
1          RC  1222146798  22/11/2024         0
2          RC  1115920980  23/11/2024         0
3          CC  1119666210  01/02/2005         0
4          PT     4546997  25/08/1979         0
..        ...         ...         ...       ...       ...       ...       ...
592        TI  1115867456  06/03/2018         0
599        TI  1118125389  07/08/2016         0
611        CC  1118539734  15/12/2006         0
626        RC  1115871388  16/02/2025         0
639        RC  1115871384  04/03/2025         0

    origen
0    Glosa
1    Glosa
2    Glosa
3    Glosa
4    Glosa
..     ...
592    SIE
599    SIE
611    SIE
626    SIE
639    SIE

[64 rows x 21 columns]

In [29]:
valores_unicos = Df_NS_VAL.iloc[:, 11].unique()
print(valores_unicos)

['N01' 'N02' 'N03' 'N17' 'N21' 'N25' 'N39' 'N09' 'N04' 'N19' 'N14' 'N36'
 'N43' 'N46' 'N32' 'N12']

In [30]:
# Filtrar los registros donde la columna en la posición 11 sea igual a ['N43', 'N46']
registros_a_mover = Df_NS_VAL[Df_NS_VAL.iloc[:, 11].isin(['N12', 'N43', 'N46'])]

# Eliminar esos registros de Df_NS_VAL
Df_NS_VAL = Df_NS_VAL[~Df_NS_VAL.iloc[:, 11].isin(['N12', 'N43', 'N46'])]

# Agregar los registros filtrados a Df_NS_NEG
Df_NS_NEG = pd.concat([Df_NS_NEG, registros_a_mover], ignore_index=True)

# Novedades

In [31]:
valores_unicos = Df_NS_VAL.iloc[:, 11].unique()
print(valores_unicos)

['N01' 'N02' 'N03' 'N17' 'N21' 'N25' 'N39' 'N09' 'N04' 'N19' 'N14' 'N36'
 'N32']

In [32]:
import pandas as pd

# === 1) Crear un diccionario a partir de df_maestro ===
#    - key   -> (valorCol4, valorCol5)
#    - value -> el contenido de la columna [1], donde puede estar "EPSC25"
maestro_dict = dict(zip(
    df_maestro.iloc[:, [4, 5]].apply(tuple, axis=1),  # Genera tuplas (col4, col5)
    df_maestro.iloc[:, 1]                             # Valor = contenido col1 (donde aparece "EPSC25")
))

# === 2) Definir una función que, para cada fila de Df_NS_VAL, decida la acción ===
def decidir_origen(row):
    """
    row es una fila (Series) de Df_NS_VAL.
    - Las columnas [2, 3] se usarán para armar la clave (key).
    - La columna [11] se usa para ver si es N02 o N03.
    Devuelve un string que indica la acción:
       "EPSC25"   -> Mover a Df_NS_NEG con origen "NS-EPSC25"
       "NO_APARE" -> Mover a Df_NS_NEG con origen "No Aparecen MS ADRES"
       "KEEP"     -> Mantener en Df_NS_VAL (no se mueve)
    """
    # Tomamos las columnas [2, 3] como clave
    key = (row.iloc[2], row.iloc[3])
    # Tomamos la columna [11] para ver si es "N02" o "N03"
    valor_col11 = row.iloc[11]

    if key in maestro_dict:
        # El registro (col2, col3) aparece en df_maestro
        if maestro_dict[key] == "EPSC25":
            # Sí está en df_maestro y además la columna [1] = "EPSC25"
            return "EPSC25"
        else:
            # Aparece en df_maestro pero no es "EPSC25"
            return "KEEP"
    else:
        # No aparece en df_maestro
        # Si la columna [11] es N02 o N03, se queda en Df_NS_VAL
        if valor_col11 in ["N02", "N03"]:
            return "KEEP"
        else:
            return "NO_APARE"

# === 3) Aplicar la función a cada fila para decidir el destino de cada registro ===
decisiones = Df_NS_VAL.apply(decidir_origen, axis=1)

# === 4) Crear DataFrames intermedios para los que se mueven a Df_NS_NEG ===
df_move_EPSC25 = Df_NS_VAL[decisiones == "EPSC25"].copy()
df_move_EPSC25["origen"] = "NS-EPSC25"

df_move_no_aparecen = Df_NS_VAL[decisiones == "NO_APARE"].copy()
df_move_no_aparecen["origen"] = "No Aparecen MS ADRES"

# === 5) Concatenar todo en Df_NS_NEG y eliminar los que se mueven de Df_NS_VAL ===
Df_NS_NEG = pd.concat([Df_NS_NEG, df_move_EPSC25, df_move_no_aparecen], ignore_index=True)

# Mantener en Df_NS_VAL solo los que tienen "KEEP"
Df_NS_VAL = Df_NS_VAL[decisiones == "KEEP"].copy()

# 1 validar N01

In [33]:
import pandas as pd

# Función para formatear la fecha de la columna 15
def format_date(val):
    s = str(val).strip().strip("'")  # Elimina espacios y comillas simples
    try:
        # Intentamos convertir usando infer_datetime_format y dayfirst
        dt = pd.to_datetime(s, dayfirst=True, infer_datetime_format=True, errors='raise')
        return dt.strftime('%d/%m/%Y')
    except Exception:
        # Si falla la conversión, devolvemos el valor original
        return s

# Función que procesa una fila: formatea la fecha de col15 y valida col16
def process_row(row):
    # Convertir la columna 15 (índice 15) a fecha formateada
    row.iloc[15] = format_date(row.iloc[15])
    
    # Validar la columna 16 (índice 16): si no es "0", "1" o "2", o está vacío, asignar "0"
    val16 = str(row.iloc[16]).strip()
    if val16 not in ["0", "1", "2"]:
        row.iloc[16] = "0"
    return row

# 1. Filtrar filas donde la columna [11] es "N01"
mask_n01 = (Df_NS_VAL.iloc[:, 11] == "N01")
df_n01 = Df_NS_VAL.loc[mask_n01].copy()

# 2. Aplicar la función de procesamiento a cada fila de df_n01
df_n01 = df_n01.apply(process_row, axis=1)

# 3. Reemplazar las filas procesadas en Df_NS_VAL
Df_NS_VAL.loc[mask_n01] = df_n01

print("Proceso completado.")

Proceso completado.

C:\Users\osmarrincon\AppData\Local\Temp\ipykernel_30688\3458659767.py:8: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  dt = pd.to_datetime(s, dayfirst=True, infer_datetime_format=True, errors='raise')

# 2 validar N02

In [34]:
import pandas as pd

# --- PREPARACIÓN DE DATOS ---
# 1. Crear un conjunto y diccionario a partir de df_maestro
# El ID en df_maestro está en las columnas [4, 5] y el par de validación está en las columnas [8, 9]
maestro_ids = df_maestro.iloc[:, [4,5]].apply(tuple, axis=1)
maestro_dict = dict(zip(
    maestro_ids,
    df_maestro.iloc[:, 8:10].apply(tuple, axis=1)  # Asume que las columnas 8 y 9 son adyacentes (8:10)
))

# 2. Extraer el conjunto de pares (Columna13, Columna14) de los registros "N01" en Df_NS_VAL
n01_mask = (Df_NS_VAL.iloc[:, 11] == "N01")
n01_tuples = set(Df_NS_VAL.loc[n01_mask, Df_NS_VAL.columns[[13,14]]].apply(lambda row: (row[0], row[1]), axis=1))

# --- PROCESAMIENTO DE REGISTROS "N02" ---
# Filtrar registros de Df_NS_VAL donde Columna11 es "N02"
mask_n02 = (Df_NS_VAL.iloc[:, 11] == "N02")
df_n02 = Df_NS_VAL.loc[mask_n02].copy()

def process_N02(row):
    # Primera validación: si Columna13 == Columna6 y Columna14 == Columna7, se mueve con "Sin cambios de nombre"
    if row.iloc[13] == row.iloc[6] and row.iloc[14] == row.iloc[7]:
        return "mover_sin_cambios"
    else:
        # Construir el ID a partir de Columnas2 y 3
        id_val = (row.iloc[2], row.iloc[3])
        # Validación A: El registro existe en df_maestro (ID en columnas [4,5])
        if id_val in maestro_dict:
            # Se valida que el par (Columna13, Columna14) de Df_NS_VAL sea igual al par (Columna8, Columna9) en df_maestro
            if (row.iloc[13], row.iloc[14]) == maestro_dict[id_val]:
                return "mover_sin_cambios"
            else:
                return "mantener"
        else:
            # Validación B: Para registros no existentes en df_maestro,
            # se verifica si el ID (Columnas2 y 3) aparece en los registros "N01" (usando los pares en [13,14])
            if id_val in n01_tuples:
                return "mantener"
            else:
                return "mover_no_existe"

# Aplicar la función a cada fila de df_n02
df_n02['decision'] = df_n02.apply(process_N02, axis=1)

# --- SEPARAR REGISTROS SEGÚN DECISIÓN ---
# Registros a mover con "Sin cambios de nombre"
move_sin_cambios = df_n02[df_n02['decision'] == "mover_sin_cambios"].copy()
move_sin_cambios["origen"] = "Sin cambios de nombre"

# Registros a mover con "No existe ADRES"
move_no_existe = df_n02[df_n02['decision'] == "mover_no_existe"].copy()
move_no_existe["origen"] = "No existe ADRES"

# Combinar ambos grupos a mover
df_to_move = pd.concat([move_sin_cambios, move_no_existe], ignore_index=True)

# Actualizar Df_NS_NEG (suponiendo que ya existe y es un DataFrame previamente definido)
Df_NS_NEG = pd.concat([Df_NS_NEG, df_to_move], ignore_index=True)

# Eliminar de Df_NS_VAL los registros que se han movido (aquellos que no se mantienen)
Df_NS_VAL = Df_NS_VAL.drop(df_n02[df_n02['decision'] != "mantener"].index)

print("Proceso para registros 'N02' completado.")
print("Registros movidos a Df_NS_NEG:", len(df_to_move))
print("Registros restantes en Df_NS_VAL:", len(Df_NS_VAL))

Proceso para registros 'N02' completado.
Registros movidos a Df_NS_NEG: 2
Registros restantes en Df_NS_VAL: 551

C:\Users\osmarrincon\AppData\Local\Temp\ipykernel_30688\2244516542.py:14: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  n01_tuples = set(Df_NS_VAL.loc[n01_mask, Df_NS_VAL.columns[[13,14]]].apply(lambda row: (row[0], row[1]), axis=1))

# 3 N03 Apellidos

In [35]:
import pandas as pd

# --- PREPARACIÓN DE DATOS ---
# 1. Crear un conjunto y diccionario a partir de df_maestro
# El ID en df_maestro está en las columnas [4, 5] y el par de validación está en las columnas [6, 7]
maestro_ids = df_maestro.iloc[:, [4,5]].apply(tuple, axis=1)
maestro_dict = dict(zip(
    maestro_ids,
    df_maestro.iloc[:, 6:8].apply(tuple, axis=1)  # Asume que las columnas 6 y 8 son adyacentes (6:8)
))

# 2. Extraer el conjunto de pares (Columna13, Columna14) de los registros "N01" en Df_NS_VAL
n01_mask = (Df_NS_VAL.iloc[:, 11] == "N01")
n01_tuples = set(Df_NS_VAL.loc[n01_mask, Df_NS_VAL.columns[[13,14]]].apply(lambda row: (row[0], row[1]), axis=1))

# --- PROCESAMIENTO DE REGISTROS "N03" ---
# Filtrar registros de Df_NS_VAL donde Columna11 es "N03"
mask_n03 = (Df_NS_VAL.iloc[:, 11] == "N03")
df_n03 = Df_NS_VAL.loc[mask_n02].copy()

def process_N03(row):
    # Primera validación: si Columna13 == Columna6 y Columna14 == Columna7, se mueve con "Sin cambios de nombre"
    if row.iloc[13] == row.iloc[4] and row.iloc[14] == row.iloc[5]:
        return "mover_sin_cambios"
    else:
        # Construir el ID a partir de Columnas2 y 3
        id_val = (row.iloc[2], row.iloc[3])
        # Validación A: El registro existe en df_maestro (ID en columnas [4,5])
        if id_val in maestro_dict:
            # Se valida que el par (Columna13, Columna14) de Df_NS_VAL sea igual al par (Columna8, Columna9) en df_maestro
            if (row.iloc[13], row.iloc[14]) == maestro_dict[id_val]:
                return "mover_sin_cambios"
            else:
                return "mantener"
        else:
            # Validación B: Para registros no existentes en df_maestro,
            # se verifica si el ID (Columnas2 y 3) aparece en los registros "N01" (usando los pares en [13,14])
            if id_val in n01_tuples:
                return "mantener"
            else:
                return "mover_no_existe"

# Aplicar la función a cada fila de df_n03
df_n03['decision'] = df_n03.apply(process_N03, axis=1)

# --- SEPARAR REGISTROS SEGÚN DECISIÓN ---
# Registros a mover con "Sin cambios de Apellidos"
move_sin_cambios = df_n03[df_n03['decision'] == "mover_sin_cambios"].copy()
move_sin_cambios["origen"] = "Sin cambios de Apellidos"

# Registros a mover con "No existe ADRES"
move_no_existe = df_n03[df_n03['decision'] == "mover_no_existe"].copy()
move_no_existe["origen"] = "No existe ADRES"

# Combinar ambos grupos a mover
df_to_move = pd.concat([move_sin_cambios, move_no_existe], ignore_index=True)

# Actualizar Df_NS_NEG (suponiendo que ya existe y es un DataFrame previamente definido)
Df_NS_NEG = pd.concat([Df_NS_NEG, df_to_move], ignore_index=True)

# Eliminar de Df_NS_VAL los registros que se han movido (aquellos que no se mantienen)
Df_NS_VAL = Df_NS_VAL.drop(df_n03[df_n03['decision'] != "mantener"].index)

print("Proceso para registros 'N03' completado.")
print("Registros movidos a Df_NS_NEG:", len(df_to_move))
print("Registros restantes en Df_NS_VAL:", len(Df_NS_VAL))

Proceso para registros 'N03' completado.
Registros movidos a Df_NS_NEG: 0
Registros restantes en Df_NS_VAL: 551

C:\Users\osmarrincon\AppData\Local\Temp\ipykernel_30688\287058666.py:14: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  n01_tuples = set(Df_NS_VAL.loc[n01_mask, Df_NS_VAL.columns[[13,14]]].apply(lambda row: (row[0], row[1]), axis=1))

# 4 N04 Cambio de municipio

In [36]:
import pandas as pd

# -----------------------------
# PROCESAMIENTO PARA REGISTROS "N04"
# -----------------------------

# Filtrar registros N04 en Df_NS_VAL (columna 11 == "N04")
mask_N04 = (Df_NS_VAL.iloc[:, 11] == "N04")
df_N04 = Df_NS_VAL.loc[mask_N04].copy()

def process_N04(row):
    # Convertir columna 13 y 14 a numérico y luego formatear:
    try:
        num13 = pd.to_numeric(row.iloc[13], errors='coerce')
        num14 = pd.to_numeric(row.iloc[14], errors='coerce')
    except Exception:
        num13, num14 = None, None

    # Formatear a cadenas con dígitos fijos:
    str13 = str(int(num13)).zfill(2) if pd.notna(num13) else ""
    str14 = str(int(num14)).zfill(3) if pd.notna(num14) else ""
    # Actualizar las columnas formateadas en la fila
    row.iloc[13] = str13
    row.iloc[14] = str14

    # Validar: si la columna 13 es diferente de "85", se mueve a otro departamento.
    if str13 != "85":
        return "mover_N04_otro_departamento"
    else:
        # Si col13 es "85", se busca en df_maestro por id.
        id_val = (row.iloc[2], row.iloc[3])
        df_match = df_maestro[(df_maestro.iloc[:, 4] == id_val[0]) & (df_maestro.iloc[:, 5] == id_val[1])]
        if not df_match.empty:
            match = df_match.iloc[0]
            # Extraer y formatear las columnas 18 y 19 de df_maestro
            try:
                m18 = pd.to_numeric(match.iloc[18], errors='coerce')
                m19 = pd.to_numeric(match.iloc[19], errors='coerce')
            except Exception:
                m18, m19 = None, None
            str18 = str(int(m18)).zfill(2) if pd.notna(m18) else ""
            str19 = str(int(m19)).zfill(3) if pd.notna(m19) else ""
            # Comparar (col13, col14) de Df_NS_VAL con (col18, col19) de df_maestro
            if str13 == str18 and str14 == str19:
                return "municipio_igual_adres"
            else:
                return "mantener"
        else:
            return "mantener"

# Aplicar la función de procesamiento a cada fila de df_N04
df_N04["decision"] = df_N04.apply(process_N04, axis=1)

# Separar registros que se moverán:
df_N04_move = df_N04[df_N04["decision"].isin(["mover_N04_otro_departamento", "municipio_igual_adres"])].copy()
df_N04_move.loc[df_N04_move["decision"] == "mover_N04_otro_departamento", "origen"] = "N04 a otro departamento"
df_N04_move.loc[df_N04_move["decision"] == "municipio_igual_adres", "origen"] = "municipio igual a ADRES"

# Mover registros a Df_NS_NEG y eliminarlos de Df_NS_VAL
Df_NS_NEG = pd.concat([Df_NS_NEG, df_N04_move], ignore_index=True)
Df_NS_VAL = Df_NS_VAL.drop(df_N04_move.index)

# -----------------------------
# PROCESAMIENTO PARA REGISTROS "N02"
# -----------------------------

# Filtrar registros N02 en Df_NS_VAL (columna 11 == "N02")
mask_N02 = (Df_NS_VAL.iloc[:, 11] == "N02")
df_N02 = Df_NS_VAL.loc[mask_N02].copy()

def process_N02(row):
    # Convertir y formatear columnas 9 y 10 (a 2 y 3 dígitos respectivamente)
    try:
        num9 = pd.to_numeric(row.iloc[9], errors='coerce')
        num10 = pd.to_numeric(row.iloc[10], errors='coerce')
    except Exception:
        num9, num10 = None, None
    str9 = str(int(num9)).zfill(2) if pd.notna(num9) else ""
    str10 = str(int(num10)).zfill(3) if pd.notna(num10) else ""
    
    # Convertir y formatear columnas 13 y 14 de la misma forma
    try:
        num13 = pd.to_numeric(row.iloc[13], errors='coerce')
        num14 = pd.to_numeric(row.iloc[14], errors='coerce')
    except Exception:
        num13, num14 = None, None
    str13 = str(int(num13)).zfill(2) if pd.notna(num13) else ""
    str14 = str(int(num14)).zfill(3) if pd.notna(num14) else ""
    
    # Actualizar la fila
    row.iloc[9] = str9
    row.iloc[10] = str10
    row.iloc[13] = str13
    row.iloc[14] = str14
    
    # Validar: si (col9, col10) son iguales a (col13, col14), se mueve a Df_NS_NEG
    if str9 == str13 and str10 == str14:
        return "sin_cambios"
    else:
        return "mantener"

df_N02["decision"] = df_N02.apply(process_N02, axis=1)

# Separar registros de N02 que se moverán:
df_N02_move = df_N02[df_N02["decision"] == "sin_cambios"].copy()
df_N02_move["origen"] = "sin cambios"

# Mover estos registros a Df_NS_NEG y eliminarlos de Df_NS_VAL
Df_NS_NEG = pd.concat([Df_NS_NEG, df_N02_move], ignore_index=True)
Df_NS_VAL = Df_NS_VAL.drop(df_N02_move.index)

print("Proceso para N04 y N02 completado.")

Proceso para N04 y N02 completado.

# 9 N09 Retiro por muerte

In [37]:
import pandas as pd

# 1. Filtrar registros "N09" en Df_NS_VAL (columna 11 == "N09")
mask_N09 = (Df_NS_VAL.iloc[:, 11] == "N09")
df_N09 = Df_NS_VAL.loc[mask_N09].copy()

# 2. Crear un diccionario a partir de df_maestro para mapear el ID (de columnas [4,5]) al valor de la columna [28]
# Convertimos el ID a una tupla, y asumimos que los valores en columna 28 se pueden comparar como cadena.
maestro_ids = df_maestro.iloc[:, [4, 5]].apply(tuple, axis=1)
maestro_col28 = df_maestro.iloc[:, 28].astype(str).str.strip()  # Limpiamos espacios
maestro_dict_col28 = dict(zip(maestro_ids, maestro_col28))

# 3. Función para procesar cada fila "N09"
def process_N09(row):
    # Formar el ID a partir de las columnas 2 y 3 de Df_NS_VAL
    id_val = (row.iloc[2], row.iloc[3])
    # Si el ID existe en el diccionario de df_maestro
    if id_val in maestro_dict_col28:
        # Si el valor en la columna 28 de df_maestro es "AF", marcar el registro
        if maestro_dict_col28[id_val] == "AF":
            return "mismo_estado_adres"
    return "mantener"

# Aplicar la función a los registros N09
df_N09["decision"] = df_N09.apply(process_N09, axis=1)

# 4. Separar los registros a mover
df_N09_move = df_N09[df_N09["decision"] == "mismo_estado_adres"].copy()
df_N09_move["origen"] = "Mismo estado ADRES"

# 5. Mover estos registros a Df_NS_NEG y eliminarlos de Df_NS_VAL
Df_NS_NEG = pd.concat([Df_NS_NEG, df_N09_move], ignore_index=True)
Df_NS_VAL = Df_NS_VAL.drop(df_N09_move.index)

print("Proceso para N09 completado.")

Proceso para N09 completado.

# 46 N46 Reporte de datos de contacto

In [45]:
# Copia sólo de ciertas columnas
N46 = df_ms_SIE[[
 'tipo_documento', 'numero_identificacion', 'primer_apellido',
 'segundo_apellido', 'primer_nombre', 'segundo_nombre',
 'fecha_nacimiento', 'genero', 'municipio',
 'direccion', 'celular', 'telefono_1', 'telefono_2',
 'correo_electronico'
]].copy()
print(df_ms_EPS025.shape[0])
print(N46.columns)
print(df_ms_SIE.shape[0])
print(N46.shape[0])

176000
Index(['tipo_documento', 'numero_identificacion', 'primer_apellido',
       'segundo_apellido', 'primer_nombre', 'segundo_nombre',
       'fecha_nacimiento', 'genero', 'municipio', 'direccion', 'celular',
       'telefono_1', 'telefono_2', 'correo_electronico'],
      dtype='object')
223834
223834

In [46]:
# 1. Extrae los nombres de tus columnas clave en N46
key0, key1 = N46.columns[0], N46.columns[1]

# 2. Construye un df temporal con sólo las 4 columnas que necesitas y renómbralas
df_tmp = df_ms_EPS025.iloc[:, [4, 5, 13, 23, 24, 33]].copy()
df_tmp.columns = [key0, key1, "Muni_Naci", "Dep", "Mun", "Estado_ADRES"]

# 3. Mézclalo con N46 sobre esas claves, añadiendo Muni_Naci y Estado_ADRES
N46 = N46.merge(df_tmp, on=[key0, key1], how="left")
print(N46.columns)
print(N46["Estado_ADRES"].unique())

Index(['tipo_documento', 'numero_identificacion', 'primer_apellido',
       'segundo_apellido', 'primer_nombre', 'segundo_nombre',
       'fecha_nacimiento', 'genero', 'municipio', 'direccion', 'celular',
       'telefono_1', 'telefono_2', 'correo_electronico', 'Muni_Naci', 'Dep',
       'Mun', 'Estado_ADRES'],
      dtype='object')
['AC' nan 'AF' 'RE' 'SM' 'SD']

In [47]:
print(N46.shape[0])
# Define los valores a eliminar
vals = ['AF', 'RE', 'SM', 'SD']

# Crea una máscara: True para las filas que *sí* queremos quitar
mask = N46['Estado_ADRES'].isna() | N46['Estado_ADRES'].isin(vals)

# Queda solo lo que NO cumple esa condición
N46 = N46[~mask].reset_index(drop=True)
print(N46.shape[0])

# Primero, elimina NaN
N46 = N46[N46['correo_electronico'].notna()]
# Luego, elimina cadenas vacías
N46 = N46[N46['correo_electronico'] != ""].reset_index(drop=True)
print(N46.shape[0])

223834
149498
95505

In [48]:
import re  # Para validación de correos electrónicos
N46['correo_electronico'] = N46['correo_electronico'].apply(
    lambda email: "" if (
        re.search(r'sat', email, re.IGNORECASE) or 
        re.search(r'SAT', email, re.IGNORECASE) or 
        re.search(r'TRASLADO', email, re.IGNORECASE) or 
        re.search(r'ACTUALIZAR', email, re.IGNORECASE) or 
        re.search(r'actualiza', email, re.IGNORECASE) or 
        re.search(r'actualizar', email, re.IGNORECASE) or 
        re.search(r'tiene', email, re.IGNORECASE) or 
        re.search(r'TIENE', email, re.IGNORECASE) or 
        re.search(r'afilia', email, re.IGNORECASE) or 
        re.search(r'traslado', email, re.IGNORECASE) or 
        email.split('@')[0].isdigit()
    ) else email
)
print(N46.shape[0])

# Primero, elimina NaN
N46 = N46[N46['correo_electronico'].notna()]
# Luego, elimina cadenas vacías
N46 = N46[N46['correo_electronico'] != ""].reset_index(drop=True)
print(N46.shape[0])

95505
30761

In [49]:
for col in ['celular', 'telefono_1', 'telefono_2']:
    N46[col] = (
        N46[col]
          .astype(str)
          .str.replace(r'[-\s]', '', regex=True)
    )


def is_valid_email(email):
    if pd.isnull(email) or email.strip() == "":
        return False
    # Patrón básico de email
    regex = r"(^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$)"
    if not re.match(regex, email):
        return False
    # Validar casos específicos de correos no deseados
    email_lower = email.lower()
    if email_lower in ["actualizar@actualizar.com", "notiene@gamil.com", "00@hotmail.com"]:
        return False
    return True

# Aplicar la validación en la columna 'correo_electronico' y reemplazar los no válidos por cadena vacía
N46['correo_electronico'] = N46['correo_electronico'].apply(lambda x: x if is_valid_email(x) else '')

print(N46.shape[0])

# Primero, elimina NaN
N46 = N46[N46['correo_electronico'].notna()]
# Luego, elimina cadenas vacías
N46 = N46[N46['correo_electronico'] != ""].reset_index(drop=True)
print(N46.shape[0])

30761
30566

In [50]:
import pandas as pd
print(N46.shape[0])
# columnas a validar
phones = ['celular', 'telefono_1', 'telefono_2']

# 1) Genero un DataFrame booleano donde True = convertible a número
is_numeric = N46[phones].apply(lambda col: pd.to_numeric(col, errors='coerce').notna())

# 2) Identifico las filas donde **ninguna** de las 3 columnas es numérica
mask_no_number = ~is_numeric.any(axis=1)

# 3) (Opcional) Imprimo esas filas para revisarlas
print("Filas sin ningún valor numérico en las 3 columnas:")
print(N46.loc[mask_no_number, phones])

# 4) Elimino esas filas del DataFrame
N46 = N46.loc[~mask_no_number].reset_index(drop=True)
print(N46.shape[0])

30566
Filas sin ningún valor numérico en las 3 columnas:
         celular telefono_1 telefono_2
161          nan        nan        nan
183          nan        nan        nan
185          nan        nan        nan
258          nan        nan        nan
648          nan        nan        nan
...          ...        ...        ...
25599        nan        nan        nan
26179        nan        nan        nan
26220        nan        nan        nan
26492  NOREFIERE     NOREFI        nan
27009        nan        nan        nan

[215 rows x 3 columns]
30351

In [ ]:
import re
phones = ['celular', 'telefono_1', 'telefono_2']
print(N46.shape[0])
def clean_phone(x):
    s = str(x)
    return s if re.match(r'^3\d{9}$', s) else ''

N46[phones] = N46[phones].applymap(clean_phone)

# luego el mismo filtrado
mask = N46[phones].ne('').any(axis=1)
N46 = N46[mask].reset_index(drop=True)
print(N46.shape[0])

30351
30313

C:\Users\osmarrincon\AppData\Local\Temp\ipykernel_5632\2976976887.py:7: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  N46[phones] = N46[phones].applymap(clean_phone)

In [ ]:
phones = ['celular','telefono_1','telefono_2']

# Esto construye una Serie con el conteo de vacíos ('' o NaN) por columna
empty_counts = (N46[phones].isna() | N46[phones].eq('')).sum()

print(empty_counts)

celular         108
telefono_1     4539
telefono_2    19820
dtype: int64

In [ ]:
import numpy as np

# 1) Asegúrate de que las tres columnas ya estén limpias ('3xxxxxxxxx' o '')
#    y sustituyes '' → NaN para que bfill funcione correctamente:
N46[['celular','telefono_1','telefono_2']] = (
    N46[['celular','telefono_1','telefono_2']]
      .replace('', np.nan)
)

# 2) Construye la columna única, haciendo back-fill por fila y tomando la primera
N46['telefono'] = (
    N46[['celular','telefono_1','telefono_2']]
      .bfill(axis=1)    # rellena NaN con el siguiente valor no-NaN de derecha a izquierda
      .iloc[:, 0]       # toma la primera columna resultante (primer valor válido)
)

# 3) Ahora puedes eliminar las tres originales
N46 = N46.drop(columns=['celular','telefono_1','telefono_2'])

# Comprueba que no hay vacíos en tu nueva columna:
print("Teléfonos vacíos:", N46['telefono'].isna().sum(), " / ", N46.shape[0])

Teléfonos vacíos: 0  /  30313

In [55]:
import re
from difflib import get_close_matches
import pandas as pd

# Supongamos que N46 ya existe en nuestro entorno
# Aquí definimos las listas de nombres completos y sus abreviaturas
full_names = [
    "Avenida calle","Administración","Adelante","Aeropuerto","Agencia","Agrupación",
    "Avenida carrera","Altillo","Al lado","Almacén","Apartamento","Apartado","Atrás",
    "Autopista","Avenida","Anillo vial","Bodega","Bloque","Boulevard","Barrio",
    "Corregimiento","Casa","Caserío","Centro comercial","Ciudadela","Célula","Centro",
    "Circular","Calle","Callejón","Camino","Comunidad","Conjunto residencial","Conjunto",
    "Carrera","Carretera","Circunvalar","Consultorio","Diagonal","Depósito","Departamento",
    "Depósito sótano","Edificio","Entrada","Escalera","Esquina","Este","Etapa","Exterior",
    "Finca","Garaje","Garaje sótano","Glorieta","Hacienda","Hangar","Interior",
    "Inspección de Policía","Inspección Departamental","Inspección Municipal","Kilómetro",
    "Local","Local mezzanine","Lote","Módulo","Mojón","Muelle","Mezzanine","Manzana",
    "Vías de nombre común","Norte","Oriente","Occidente","Oeste","Oficina","Piso","Parcela",
    "Parque","Predio","Penthouse","Pasaje","Planta","Puente","Portería","Poste","Parqueadero",
    "Paraje","Paseo","Puesto","Park Way","Rancheria","Round Point","Salón","Salón comunal",
    "Salida","Sector","Solar","Súper manzana","Semisótano","Sótano","Suite","Sur","Terminal",
    "Terraplén","Torre","Transversal","Terraza","Unidad","Unidad residencial","Urbanización",
    "Vereda","Variante","Zona franca","Zona"
]
abbrs = [
    "AC","AD","ADL","AER","AG","AGP","AK","AL","ALD","ALM","AP","APTDO","ATR","AUT","AV",
    "AVIAL","BG","BL","BLV","BRR","C","CA","CAS","CC","CD","CEL","CEN","CIR","CL","CLJ",
    "CN","CO","CON","CONJ","CR","CRT","CRV","CS","DG","DP","DPTO","DS","ED","EN","ES",
    "ESQ","ESTE","ET","EX","FCA","GJ","GS","GT","HC","HG","IN","IP","IPD","IPM","KM","LC",
    "LM","LT","MD","MJ","MLL","MN","MZ","NOMBRE VIA","NORTE","O","OCC","OESTE","OF","P",
    "PA","PAR","PD","PH","PJ","PL","PN","POR","POS","PQ","PRJ","PS","PT","PW","RA","RP",
    "SA","SC","SD","SEC","SL","SM","SS","ST","SUITE","SUR","TER","TERPLN","TO","TV","TZ",
    "UN","UR","URB","VRD","VTE","ZF","ZN"
]

# Creamos un diccionario de mapeo
mapping = dict(zip([n.upper() for n in full_names], abbrs))

def abbreviate_address(addr):
    if not isinstance(addr, str):
        return ""
    # Limpieza de símbolos
    s = re.sub(r'[#\-]', ' ', addr).upper()
    tokens = s.split()
    result = []
    for tok in tokens:
        # Intentamos hallar similitud de al menos 80%
        match = get_close_matches(tok, mapping.keys(), n=1, cutoff=0.8)
        if match:
            result.append(mapping[match[0]])
        elif tok.isdigit():
            result.append(tok)
    return " ".join(result)

# Aplicar la función a la columna 'direccion'
N46['direccion_limpia'] = N46['direccion'].apply(abbreviate_address)

# Eliminar la columna original si ya no se necesita
N46.drop(columns=['direccion'], inplace=True)

# Mostrar algunos ejemplos
print(N46[['direccion_limpia']].head(10))

  direccion_limpia
0       CL ESTE 20
1         CR 59 42
2      CR 19 10 02
3          CL 9 47
4        CR 6 8 56
5         13 28 29
6      CL 36 13 15
7         36 6 101
8         TV 26 22
9         TV 26 22

# guardar Datafarmes

In [38]:
# Crear un nuevo libro de trabajo
wb = Workbook()

# Guardar Df_NS_NEG en una hoja llamada "NS_NEG"
ws_neg = wb.active
ws_neg.title = "NS_NEG"
for row in dataframe_to_rows(Df_NS_NEG, index=False, header=True):
    ws_neg.append([f"'{cell}" for cell in row])

# Guardar Df_NS_VAL en una hoja llamada "NS_VAL"
ws_val = wb.create_sheet(title="NS_VAL")
for row in dataframe_to_rows(Df_NS_VAL, index=False, header=True):
    ws_val.append([f"'{cell}" for cell in row])

# Guardar el archivo Excel
wb.save(R_Salida_Excel)

In [57]:
N46.to_csv(R_Salida, sep=',', index=False, encoding='ansi')